@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    background-color: #1E1D2B;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden;
    body { --scrollbar-width: 15px; --scrollbar-height: 15px; --scrollbar-border-radius: 36px; --scrollbar-border-thickness: 0px; --scrollbar-thumb-color: #463d7f5d; --scrollbar-track-color: #FFFFFF00; --scrollbar-border-color: #FFFFFF00; --scrollbar-corner-color: #FFFFFF00; --scrollbar-button-color: #3F3F4600; } body::-webkit-scrollbar { width: var(--scrollbar-width, 20px); height: var(--scrollbar-height, 20px); }body::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb-color, #3B82F6); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); }body::-webkit-scrollbar-track { background: var(--scrollbar-track-color, #A1A1AA); }body::-webkit-scrollbar-corner { background: var(--scrollbar-corner-color, #FFFFFF); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); }body::-webkit-scrollbar-button:vertical:start:increment, #preview::-webkit-scrollbar-button:vertical:end:decrement, #preview::-webkit-scrollbar-button:horizontal:start:increment, #preview::-webkit-scrollbar-button:horizontal:end:decrement { display: var(--show-double-buttons, none); }
}

.navtitle{
    color: #ff702a;
    font-size: 30px;
    padding-left: 20px;
}

.title{
    color: #ff702a;
    font-size: 55px;
}

.Wtitle{
    color: #fff;
    font-size: 35px;
}

.subtitle{
    font-size: 23px;
    color: #fff;
}

#about .subtitle{
    font-size: 23px;
}

.vuiton{
    box-shadow: 10px 6px 37px -13px gray;
    width: max-content;
    height: max-content;
    padding: 2%;
    background-color: #ff702a;
    border-radius: 4%;
}

.link{
    display: flex;
    color: #fff;
    font-size: 20px;
    width: max-content;
    text-decoration: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.pc a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav{
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    background-color: #1E1D2B;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
    z-index: 999;
    box-shadow:  1px 13px 20px 0px #0d0c12;
}

.global-menu{
    width: 50%;
    display: flex;
}

.pc{
    display: flex;
    justify-content:space-around;
    width: 100%;
    padding-right: 20px;
}

#home img{
    width: 75%;
}

.home{
    padding: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    min-height: 300px;
    justify-content: space-around;
    align-items: center;
}

.block{
    width: auto;
    display: flex;
    justify-content: center;
}

#about .block{
    width: auto;
    display: flex;
    justify-content: center;
    padding: 25px;
}

#about img{
    width: 90%;
}

.about{
    display: flex;
    flex-wrap: wrap-reverse;
    width: auto;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 100px;
}

.menu_cel{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

.menu_cel label {
    position: absolute;
    right: 5px;
    top: 2px;
}

#listanav{
    background-color: #2C2B47;
    display: flex;
    width: 100vw;
    height: 0px;
    overflow: hidden;
    top: 50px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 50px;
    transition: height .3s ease-in;
    z-index: 2;
    border-radius: 5%;
}

#listanav a{
    font-size: 25px;
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.menu_cel i {
    font-size: 3rem;
    color: #FF702A;
    transition: .45s transform ease-in-out;
}

#menunav:checked + label + #listanav {
    height: 300px;
}

#menunav:checked + label i {
    transform: rotate(180deg);
}

.food_menu{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding-bottom: 100px;
}

.conteiner_menu{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.F1{
    background-image: url(../img/fondo-menu.png);
    width: 100%;
    aspect-ratio: 1/1;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.carro{
    /* background-image: url(../img/cuadro-naranja.png); */
    background-color: #FF702A;
    width: 10%;
    height: 10%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5%;
    top: 4%;
}

.services {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.conteiner_services {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.servicio {
    width: 80%; /* Adjusted width */
    aspect-ratio: 1/1;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding-bottom: 40px;
}

#services img{
    width:50%;
}

#menu{
    i{
        background-color: transparent;
        font-size: 200%;
    }
    img{
        width: 50%;
        background-color: transparent;
        padding-bottom: 8%;
    }
    h2{
        background-color: transparent;
    }
    h4{
        background-color: transparent;
    }
}

.precio{
    background-color: transparent;
    color: #FF702A;
}

.cuadroblanco{
    background-image: url(../img/fondo-learn-more.png);
    background-repeat: no-repeat;
    display: flex;
    aspect-ratio: 3.5/0.9;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 2% 15% 10% 15%;
    padding: 2rem;
    position: relative;
}

#contact .title{
    color: #0d0c12;
    font-size: 3.4vi;
    background-color: transparent;
}

footer{
    width: 100%;
    min-height: 200px;
    display: flex;
    background-color: #1E1D2B;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    padding-top: 10px;
    box-shadow:  1px 13px 200px 20px #0d0c12;
}

.info {
    background-color: #1e1d2b;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: 500;
}

/* Me parece que se ve mas estetico asi, los encabezados de naranja excepto el de contacts q va blanco para que no se vea monotono */

footer h3{
    color: #FF702A;
}

#social_media h3{ 
    color: #fff;
}

.social{
    color: #FF702A;
    font-size: 30px;
}

footer hr {
    width: 50px;
    border-color: #FF702A;
}

@media screen and (max-width: 800px) {
    * {
        text-align: center;
    }
    .vuiton{
        margin: auto;
    }
    .pc a{
        display: none;
    }
    nav{
        align-items: normal;
    }
    .menu_cel{
        display: flex;
    }
    .conteiner_menu{
        display: flex;
        flex-direction: column;
    }
    .conteiner_services{
        display: flex;
        flex-direction: column;
    }
    .cuadroblanco{
        aspect-ratio: 3.5/1.7;
    }

    #contact .title{
        font-size: 4.5vi;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .info{
        display: flex;
        width: max-content;
        align-items: flex-start;
        padding-left: 30px;
        margin-bottom: 20px;
    }
    footer #social_media{
        align-self: center;
        padding: 0;
    }
}